
<form class="" action="/contact-list" method="post">
  <div class="form-group">
    <label for="phone-type">Phone type (ex: mobile, home, ect.)</label>
    <input id="phone-type" type="text" name="phone-type">
  </div>
  <div class="form-group">
    <label for="phone">Phone Number</label>
    <input id="phone" type="text" name="phone">
  </div>
  <div class="form-group">
    <label for="phone">Phone Number</label>
    <input id="phone" type="text" name="phone">
  </div>
  <div class="form-group">
    <label for="street">Street</label>
    <input id="street" type="text" name="street">
  </div>
  <div class="form-group">
    <label for="city">City</label>
    <input id="city" type="text" name="city">
  </div>
  <div class="form-group">
    <label for="state">State</label>
    <input id="state" type="text" name="state">
  </div>
  <button type="submit" class="btn">Submit</button>
</form>
